<!doctype html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <title>Corin's Books</title>
      <!-- Include HTML Header -->
      {% include 'includes/html-header.html' %}

   </head>
   <body class="text-center" id="searchresults">
      <div id="wrapper">
         <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
            <!--Body Header & Navigation-->
            {% include 'includes/header-nav.html' %}
            <!--Main Body Section & Portrait-->
            <main class="inner cover">
               <p class="lead">{{book.title}} Book Page</p>
               <ul>
                   {% for review in reviews %}
                       <li>
                         Review: {{review.review}} by {{review.user_id}}
                       </li>
                   {% endfor %}
               </ul>

               {% if loggedIn == 0 %}
               <p> Please log in to add a review </p>

               {% else %}
               <form action="{{ url_for('addreview') }}" method="post">
                   <input type="text" name="review" placeholder="Enter your review">
                   <input type="hidden" name="book_id" value = {{book.id}}>
                   <br><button>Submit</button>
               </form>

               {% endif %}
            </main>

         </div>
         <br/><br/><br/>
         <!-- Include Footer-->
         {% include 'includes/footer.html' %}
      </div>
   </body>
</html>
