<!doctype html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <title>Corin's Books</title>
      <!-- Include HTML Header -->
      {% include 'includes/html-header.html' %}

   </head>
   <body class="text-center" id="home">
      <div id="wrapper">
         <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
            <!--Body Header & Navigation-->
            {% include 'includes/header-nav.html' %}
            <!--Main Body Section & Portrait-->
            <main class="inner cover">
               <h1 class="cover-heading">Books</h1>


            <p>In this project, I created a book review website. Users are able to register
              for an account on the site and review books.<br>

            <ul>
              <li>Backend: PostgreSQL, Python+Flask</li>
              <li>Frontend: HTML5, Jinja2, Bootstrap</li>
              <li>Other API: Goodreads</li>
            </ul>

            </p>
            </main>

         </div>
         <br/><br/><br/>
         <!-- Include Footer-->
         {% include 'includes/footer.html' %}
      </div>
   </body>
</html>
