<!doctype html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <title>Corin's Books</title>
      <!-- Include HTML Header -->
      {% include 'includes/html-header.html' %}

   </head>
   <body class="text-center" id="searchresults">
      <div id="wrapper">
         <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
            <!--Body Header & Navigation-->
            {% include 'includes/header-nav.html' %}
            <!--Main Body Section & Portrait-->
            <main class="inner cover">
               <p class="lead">Search results:</p>

               <ul>
                   {% for book in books %}
                       <li>
                       {{ book.author }} , {{ book.year }}
                       </li>
                   {% endfor %}
               </ul>


            </main>

         </div>
         <br/><br/><br/>
         <!-- Include Footer-->
         {% include 'includes/footer.html' %}
      </div>
   </body>
</html>
